<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Industrialisez votre activité en ligne grâce à l'IA</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>De nombreux entrepreneurs se focalisent sur la recherche d'investisseurs et la perfection de leur pitch, négligeant un aspect crucial : l'interaction continue avec les investisseurs potentiels.

"Les Relations Investisseurs assistées par l'IA" va plus loin. En plus des techniques classiques de levée de fonds, vous découvrirez comment l'intelligence artificielle conversationnelle peut vous aider à entretenir le lien avec les investisseurs, répondre à leurs questions 24h/24 et maximiser vos chances de boucler votre tour de table.</p>
      </div>
      <div class="col-lg-4">
        <p>Conçue autour du livre, la campagne "Not All Heroes Wear Capes" veut affirmer que les compétences en IA sont accessibles à toutes et à tous, contrairement aux idées reçues. L'enjeu est de les  motiver à mettre ces compétences au profit d'un impact sociétal positif. On réinvestit dans la formation des prochains entrepreneurs, et on met l'accent sur une IA responsable et éthique. Profitez donc d'une collection exclusive de produits dérivés cocréés en collaboration avec 
           WELTARE Couture & Broderie pour la communauté. 
 </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.paypal.com/ncp/payment/TUT2PSSCBDPQ4" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Je soutiens la campagne !
        </a>
      </div>
    </div>
  </div>
</section>
