<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>"Révolutionner l'interaction investisseur : L’IA conversationnelle, fer de lance de la nouvelle 
          génération de levées de fonds" est un guide pratique pour lever des fonds plus efficacement grâce à 
          l'intelligence artificielle conversationnelle.</p>
      </div>
      <div class="col-lg-4">
        <p>Avec votre précommande, profitez d'un pack exclusif de produits dérivés créés en collaboration avec 
          nos partenaires WELTARE Couture & Broderie, Ethercourt et SGIH. Précommandez votre exemplaire dès
          maintenant et obtenez ces articles en édition limitée. 
 </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Précommandez dès maintenant !
        </a>
      </div>
    </div>
  </div>
</section>
