<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Investir en mode IA</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>De nombreux entrepreneurs se focalisent sur la recherche d'investisseurs et la perfection de leur pitch, négligeant un aspect crucial : l'interaction continue avec les investisseurs potentiels.

"Les Relations Investisseurs assistées par l'IA" va plus loin. En plus des techniques classiques de levée de fonds, vous découvrirez comment l'intelligence artificielle conversationnelle peut vous aider à entretenir le lien avec les investisseurs, répondre à leurs questions 24h/24 et maximiser vos chances de boucler votre tour de table.</p>
      </div>
      <div class="col-lg-4">
        <p>La campagne "Not All Heroes Wear Capes" veut affirmer que les compétences en IA sont accessibles à tous à toutes, contrairement aux idées reçues. On motive, on réinvestit dans la formation des prochaines entrepreneures, et on met l'accent sur une IA responsable et éthique. Avec votre précommande, profitez d'un pack exclusif de produits dérivés créés en collaboration avec 
          nos partenaires WELTARE Couture & Broderie et Ethercourt. Précommandez votre exemplaire dès
          maintenant et obtenez ces articles en édition limitée. 
 </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.paypal.com/ncp/payment/TUT2PSSCBDPQ4" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i> Précommandez aujourd'hui !
        </a>
      </div>
    </div>
  </div>
</section>
