<form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Nom complet</label>
    <input type="text" name="name" id="full-name" placeholder="Nom et prénom" required="">
    <label for="email-address">Adresse e-mail</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domaine.com" required="">
    <label for="street-address">Adresse de la rue</label>
    <input type="text" name="street" id="street-address" placeholder="Rue" required="">
    <fieldset class="locale">
      <legend>Lieu</legend>
      <input type="text" name="city" placeholder="Ville" required="">
      <input type="text" name="postal-code" placeholder="12345" required="">
    </fieldset>
    <fieldset id="fs-frm-selects">
      <label for="timely">1. Le thème sur lequel vous souhaitez publier un livre blanc.</label>
      <select name="timely" id="timely" required="">
        <option value="" selected="" disabled="">Choisir</option>
        <option value="1">Comment dépasser les limitations du financement traditionnel</option>
        <option value="2">Décrypter les complexités des levées de fonds pour accélérer la croissance</option>
        <option value="3">Optimiser la levée de fonds grâce à l'expérience investisseur digitale</option>
        <option value="4">Anticiper le futur du financement pour adapter sa stratégie</option>
        <option value="5">Conquérir un marché en perpétuelle évolution</option>
      	<option value="6">Transformer la Relation Investisseur en un dialogue continu grâce à L'IA</option>
        <option value="7">Les promesses de la technologie pour un avantage concurrentiel durable</option>
        <option value="8">Intégration de l'IA pour relever les défis technologiques</option>
        <option value="9">Aligner la validation de concept sur les besoins réels en compétences</option>
        <option value="10">Débloquer le Potentiel Numérique grâce à la Preuve de Technologie</option>
        <option value="11">Parler le langage métier en construisant un Proof of Value sur-mesure</option>
      </select>
      <label for="timely">2. Le format dans lequel vous souhaitez publier le livre blanc.</label>
      <select name="quality" id="quality" required="">
        <option value="" selected="" disabled="">Choisir</option>
        <option value="1">Format numérique e-book Kindle</option>
        <option value="3">Format livre imprimé</option>
        <option value="5">Format Audiobook</option>
      </select>
    </fieldset>
    <label for="message">Commentaires supplémentaires</label>
    <textarea rows="3" name="message" id="message" placeholder="Devenir sponsor permet de : diffuser des connaissances essentielles au sein de votre secteur et renforcer votre position de leader éclairé dans le domaine de l'innovation.
Contactez-nous dès maintenant pour discuter d'une collaboration." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Survey Responses">
  </fieldset>
  <input type="submit" value="Je propose un sponsoring">
</form><style>/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
</style>